* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "padlock padlock"
    "padlock padlock"
    "trouble trouble"
    "instruction instruction"
    "email email";
  background-color: #1c1c1c;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "padlock padlock"
    "padlock padlock"
    "trouble trouble"
    "instruction instruction"
    "email email";
  position: absolute;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #3d3d3d;
  padding: 35px;
  border-radius: 10px;
}
.padlock {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: padlock;
  height: 100%;
}
.logo {
  background-image: url(../img/padlock.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.trouble {
  grid-area: trouble;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.instruction {
  grid-area: instruction;
  justify-content: center;
  text-align: center;
}

.email {
  grid-area: email;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 15px;
}
.email input {
  width: 320px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  border: #3d3d3d solid 2px;
  border-color: #3d3d3d;
  color: #dddddd;
  font-size: 15px;
  padding-left: 10px;
}
.fp-submit-newacc-container {
  display: flex;
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: center; /* Adjust alignment as needed */
  margin-top: 10px; /* Optional: Add space above the buttons */
}

.fp-submit,
.newacc {
  flex: 1; /* This makes them share the available space equally */
  text-align: center; /* Center the buttons within their flex items */
}

.fp-submit input,
.newacc button {
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 7px;
}
.fp-submit input {
  background-color: #7027d4;
  color: white;
}
.fp-submit input:hover {
  background-color: #431880;
  transition: 300ms;
}
.newacc button:hover {
  background-color: #bbbbbb;
  transition: 300ms;
}
.login {
  margin-top: 30px;
}
.login button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.login button:hover {
  color: #c097f6;
  transition: 300ms;
}
