* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/*Navigation Bar*/
.username {
  color: white;
}
.hero {
  background-size: cover;
  min-height: 100vh;
  background: #eceaff;
  color: #525252;
}
.navbar {
  display: flex;
  justify-content: space-between; /* Ensures equal spacing between elements */
  align-items: center; /* Vertically center the items */
  background-color: #323232;
  color: white;
}
.navbar-logo {
  height: 60px;
  width: auto;
  margin-left: 40px;
}
.profile-pic {
  height: 60px;
  width: auto;
  margin: 15px 40px;
}
.username {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
}
.fitpulse {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 0;
}
.fit {
  letter-spacing: 0.1em;
}
.different-color {
  color: #7027d4;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Add some spacing between the text and the image */
}

.navbar-text {
  color: white;
  margin: 0; /* Reset margin */
  margin-left: 5px; /* Add some spacing between the text and the image */
}

.navbar-right img {
  border-radius: 50%; /* To make the profile image circular */
  margin-left: 10px; /* Add some spacing between the text and the image */
}
.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50px;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translate(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}

.chart-container {
  display: grid;
  grid-area: box2;
  border: 1px solid #ccc;
  width: 40%;
  height: 300px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 10%; /* Adjust this value as needed */
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.log-container {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}

#profilePicture {
  border-radius: 150px;
}
.navbar-right {
  position: relative;
}

.dropdown-trigger {
  cursor: pointer;
  padding-left: 40px;
  display: flex; /* Display its contents as flex */
  align-items: center; /* Align items vertically */
}
.dropdown-trigger:hover {
  background-color: #1c1c1c;
  transition: 300ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #323232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white; /* Adjust as needed */
}

.dropdown-content a:hover {
  background-color: #1c1c1c;
  transition: 300ms;
}

.navbar-right:hover .dropdown-content {
  display: block;
}
.navbar-right {
  position: relative;
}
/*End of Navigation Bar*/

/*Main Content*/
body {
  background-color: #1c1c1c;
  height: 100%;
}
main {
  background-color: #323232;
  margin: 10px;
  border-radius: 8px;
  height: 100%;
  display: grid;
  grid-template-areas:
    "form title graph"
    "form time graph"
    "form weight graph"
    "form weight bmi";
  grid-template-columns: 1fr 1fr 1.8fr;
  grid-template-rows: 0.4fr 0.4fr 1fr 1fr;
  gap: 10px;
}
.form-container {
  grid-area: form;
  background-color: #444444;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  height: 81vh;
  margin-right: 0;
}
select {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #3d3d3d;
  border: solid 2px #7027d4;
  color: #dadada;
  border-radius: 4px;
}
.form-container label {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
  font-size: 18px;
}
.form-container input {
  background-color: transparent;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 2px #323232;
  color: #dfdfdf;
  border-radius: 4px;
}
.weight-container label {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}
.weight-container input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 2px #323232;
  color: #dfdfdf;
  border-radius: 4px;
}
.weight-container button {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 25px;
  background-color: #7027d4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.weight-container button:hover {
  background-color: #481a89;
  transition: 300ms;
}
.weight-container {
  grid-area: weight;
  text-align: center;
  background-color: #444444;
  color: white;
  margin: 0px;
  border-radius: 8px;
  padding: 10px;
  height: 96%;
}
.title-main {
  grid-area: title;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  align-items: center;
  color: white;
  background-color: #444444;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}
.time-container {
  grid-area: time;
  background-color: #444444;
  border-radius: 8px;
  padding: 10px;
}
.clock {
  text-align: center;
  font-size: 23px;
  color: white;
  font-weight: 600;
}
.graph-container {
  grid-area: graph;
  background-color: #444444;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 0;
  height: 100%;
}
.bmi-container {
  grid-area: bmi;
  background-color: #444444;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 18px;
  height: 88%;
}
.bmi-container button {
  display: block;
  text-align: center; /* Center text horizontally */
  width: 40%; /* Ensure label takes up full width of parent container */
  margin-left: 30%;
  margin-right: 30%;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #7027d4;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.bmi-container button:hover {
  background-color: #481a89;
  transition: 300ms;
}
.bmi-container input {
  width: 46%;
  margin: 10px;
  justify-content: space-evenly;
  background-color: transparent;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: #323232 solid 2px;
  border-radius: 8px;
  color: white;
}
.bmi-container label {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 100%;
}
.bmi-result {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 100%;
  margin-top: 10px;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .navbar-logo,
  .profile-pic {
    height: 50px;
  }

  .username {
    font-size: 18px;
  }

  .fitpulse {
    font-size: 35px;
  }

  .chart-container,
  .form-container,
  .weight-container,
  .graph-container,
  .bmi-container {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  main {
    grid-template-areas:
      "title"
      "form"
      "time"
      "weight"
      "graph"
      "bmi";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .navbar-logo,
  .profile-pic {
    height: 40px;
  }

  .username {
    font-size: 16px;
  }

  .fitpulse {
    font-size: 30px;
  }

  .chart-container,
  .form-container,
  .weight-container,
  .graph-container,
  .bmi-container {
    height: auto;
    padding: 5px;
  }

  .weight-container button,
  .bmi-container button {
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo,
  .profile-pic {
    height: 30px;
  }

  .username {
    font-size: 14px;
  }

  .fitpulse {
    font-size: 25px;
  }

  .dropdown-trigger {
    padding-left: 20px;
  }

  .dropdown-content a {
    padding: 8px 10px;
  }

  .chart-container,
  .form-container,
  .weight-container,
  .graph-container,
  .bmi-container {
    padding: 2px;
  }

  .weight-container button,
  .bmi-container button {
    height: 40px;
    font-size: 18px;
  }
}
