*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #242424;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
    color: white;
    padding: 10px 20px; /* Add padding for spacing */
  }
  
  .navbar .Back {
    display: flex;
    align-items: center;
  }
  
  .navbar .Back a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .navbar .Back a:hover{
    text-decoration: underline;
    color: #c097f6;
    transition: 300ms;
  }
  
  .navbar .Back i {
    margin-right: 8px;
    font-size: 19px;
    cursor: pointer;
  }
  
  .navbar-logo {
    height: 70px;
    margin-right: 60px;
  }
  
  .navbar h1 {
    font-size: 35px;
    margin-right: 50px;
  }

  #profilePictureBox {
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  #profilePictureBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-container{
    background-color: #242424;
    height: 86.3vh;
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "true secondary";
  }
  .true-user{
    grid-area: true;
    background-color: #323232;
    border-radius: 8px;
    margin: 10px;
    margin-right: 5px;
    margin-bottom: 0;
  }
  .secondary-container{
    grid-area: secondary;
    background-color: #323232;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2.75fr 0.75fr;
    grid-template-areas:
    "info"
    "article"
    "quote";
    border-radius: 8px;
    margin: 10px;
    margin-left: 5px;
    margin-bottom: 0;
  }
  .user-container {
    height: 96.7%;
    background-color: #444444;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#profilePictureInput {
    display: none; /* Hide the actual file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    background-color: #606060;
    color: white;
    border-radius: 4px;
    margin-top: 20px; /* Optional: adjust spacing */
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #323232;
}

#logoutBtn {
    margin-top: auto;
    margin-bottom: 10px;
}
.logout-button{
  background-color: #FF231C;
  border: none;
  color: white;
  padding: 10px 45px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.logout-button:hover{
  background-color: rgb(185, 0, 0);
  transition: 300ms;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
  .info-container{
    grid-area: info;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #444444;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: white;
    padding-left: 20px;
  }
  p{
    margin: 5px;
  }
  .info-container button{
    width: 200px;
    height: 30px;
    color: white;
    background-color: #FF231C;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .article-container{
    display: flex;
    align-items: center;
    grid-area: article;
    background-color: #444444;
    margin: 5px 10px;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 20px;
    color: white;
  }
  h2{
    color: #7027d4;
  }
  h1{
    color: white;
    margin-bottom: 20px;
  }
  .quote-container{
    grid-area: quote;
    background-color: #444444;
    margin: 10px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
  }
  .changepass button{
    background-color: #606060;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 30px;
    font-size: 15px;
  }
  .changepass button:hover{
    background-color: #323232;
    transition: 300ms;
  }


  